{% extends 'base.html.twig' %}

{% block title %}Bookflix{% endblock %}

{% block body %}

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    #text-cut{
      overflow : hidden;
      display : inline-block;
      width : 230px;
      text-overflow : ellipsis;
      white-space : nowrap;
    }
    .cardBook{
    flex: 1;
    flex-basis: 300px;
    flex-grow: 0;
    height: 440px;
    background: #fff;
    border: 2px solid #fff;
    /*box-shadow: 0px 4px 7px rgba(0,0,0,.5);*/
    cursor: pointer;
    transition: all .5s cubic-bezier(.8,.5,.2,1.4);
    overflow: hidden;
    position: relative;
    }
    .cardBook img{
        width: 100%;
        height:100%;
        transition: all .5s cubic-bezier(.8,.5,.2,1.4);
    }
    .descriptionsBook{
        position: absolute;
        top:0px;
        left:0px;
        background-color: rgba(255,255,255,.7);
        width:100%;
        height:100%;
        transition: all .7s ease-in-out;
        padding: 20px;
        box-sizing: border-box;
        clip-path: circle(0% at 100% 100%);
    }
    .cardBook:hover .descriptionsBook{
        left:0px;
        transition: all .7s ease-in-out;
        clip-path: circle(75%);
    }
    .cardBook:hover{
        transition: all .5s cubic-bezier(.8,.5,.2,1.4);
        box-shadow: 0px 2px 3px rgba(0,0,0,.3);
        transform: scale(.97);
    }
    .cardBook:hover img{
        transition: all .5s cubic-bezier(.8,.5,.2,1.4);
        transform: scale(1.6) rotate(20deg);
        filter: blur(3px);
    }
    .cardBook h1{
        color: #FFCA45;
        font-family: Asap Condensed;
        letter-spacing: 1px;
        margin: 0px;
    }
    .cardBook p{
        line-height: 24px;
        height: 70%;
    }
    .cardBook button{
        width: fit-content;
        height: 40px;
        cursor: pointer;
        border-style: none;
        background-color: #ff3838;
        color:#fff;
        font-size: 500px;
        outline: none;
        box-shadow: 0px 2px 3px rgba(0,0,0,.4);
        transition: all .5s ease-in-out;
    }
    .cardBook button:hover{
        transform: scale(.95) translateX(-5px);
        transition: all .5s ease-in-out;
    }



</style>


<div class="wrapper" >
    <!-- Sidebar -->
    
      <nav id="sidebar">
        <div class="sidebar-header">
            <img src="{{ asset('logo.svg', 'images') }}" width="200" height="30" class="d-inline-block align-top" alt="">
        </div>

        <ul class="list-unstyled components">
            {# Lugar para poner algun texto o algo fijo#}
            <a class="nav-link" href="#">Bienvenido {{perfilActivo.nombre}}! <span class="sr-only">(current)</span></a>
            <li class="active">
               <a id="a-menu" class="nav-link" href="{{path('home')}}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li>
                <a id="a-menu" class="nav-link" href="{{ path('ver_favoritos') }}">Ver Favoritos <span class="sr-only">(current)</span></a>
            </li>
            <li>
             <a id="a-menu" class="nav-link" href="{{ path('ver_perfiles') }}">Perfiles <span class="sr-only">(current)</span></a>
            </li>
            <li>
            <div class="container-fluid">
               {% embed 'prueba/formulario-prueba.html.twig' %}
                {% endembed %}
            </div>
               
            </li>
            <li>
                <a id="a-menu" class="nav-link" href="{{ path('perfil') }}">Cuenta <span class="sr-only">(current)</span></a>
            </li>
            <li>
                <a id="a-menu" class="nav-link" href="{{ path('app_logout') }}">Cerrar sesion <span class="sr-only">(current)</span></a>
            </li>



        </ul>

      </nav>

    
    <!-- Page Content -->
    <div id="content">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">

                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left" ></i>
                    <span style = "font-family: Asap Condensed;">MENU</span>
                </button>
        </nav>
        




<div class="row justify-content-end">

  <div class="col-sm">
      <br></br>
        <div class="container" id = "top-box">
          <h1  class="display-5" id = "text-box" >Novedades <span class="badge badge-secondary">Ultimas</span> </h1>
        </div>
        <div class="container" id = "end-box" >
          <ul id="navigation">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                  {% for i in novedades %}
                      <div class="swiper-slide">
                        <div class="card" style="width:120%; height:auto;max-width:80%; max-height:200%;">
                              <img class="card-img-top" style = "width:auto; height:auto; max-width:100%; max-height:50%;" src="/uploads/images/novedades/{{i.foto}}" alt="Card image cap" >
                              <div class="card-body">
                                <h5 class="card-title" style= "font-family: Asap Condensed; padding: 1%;">{{ i.titulo }}</h5>
                                  <p class="card-text" style= "padding: 1%;font-family: Noto Sans KR" id = "text-cut">{{i.descripcion}}</p>
                                  <a class="btn btn-warning" style="display:block ; margin:auto;font-family: Noto Sans KR" href="{{ path('novedad', {id: i.id}) }}">Ver novedad <span class="sr-only">(current)</span></a>
                              </div>
                        </div>
                      </div>
                  {% endfor %}
                </div>
              </div>
          </ul>
        </div>
    </div>
</div>

<br>
<div class="row justify-content-end" style="margin-top:20px">
    <div class="col-sm">
      <div class="container"  id = "top-box" >
        <h1  class="display-5" id = "text-box">Adelantos <span class="badge badge-secondary">Ultimos</span></h1>
      </div>
      <div class="container" id = "end-box">
      <ul id="navigation">
      <div class="swiper-container">
          <div class="swiper-wrapper">
          {% for i in adelantos %}
          <div class="swiper-slide">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title" style = "font-family: Asap Condensed" >{{i.titulo}}</h5>
                <p class="card-text" style="text-overflow: ellipsis;white-space: nowrap ; overflow:hidden; font-family: Noto Sans KR" >{{i.contenido}}</p>
                <a class="btn btn-warning" style="display:block ; margin:auto;font-family: Noto Sans KR" href="{{ path('adelanto', {id: i.id}) }}">Ver adelanto <span class="sr-only">(current)</span></a>

                {# <p class="card-text"><small class="text-muted">{{ i.updated_at }}</small></p> #}
              </div>
            </div>
          </div>
          {% endfor %}
          </div>
      </div>
      </ul>
    </div>
  </div>
</div>

  <!-- LIBROS -->
<div class="row" style="margin-top:20px">
  <div class="col-sm">
      <div class="container"  id = "top-box" >
        <h1  class="display-5" id = "text-box">Libros <span class="badge badge-secondary">Recomendados</span> </h1>
      </div>
      <div class="container" id = "end-box">
      <ul id="navigation">
      <div class="swiper-container">
                <div class="swiper-wrapper">
                  {% for i in librosPrueba %}
                    <div class="swiper-slide">
                            <div class="wrapper">
                              <div class="cardBook">
                                <img style = "width : auto; height:auto; max-width:300%; max-height:450px;" src="/uploads/images/portadas/{{i.foto}}">
                                <div class="descriptionsBook">
                                  <h1>{{ i.titulo }}</h1>
                                  <p>{{i.descripcion}}</p>
                                  <a href = {{ path('libro', {id: i.id, libro: i}) }} class="btn btn-warning" style="margin-bottom:20px ; display:block ; margin:auto ; position:absolute ; bottom:40px ; width:90px">
                                      Ver
                                  </a>
                                </div>
                              </div>
                            </div>
                    </div>
                  {% endfor %}
                </div> 
        </div>
      </ul>
    </div>
  </div>

</div>
<br>
<br>
<br>
</div>

  <!-- Swiper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.5/js/swiper.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.5/js/swiper.min.js"></script>


<!-- Initialize Swiper -->
 <script>
    var swiper = new Swiper('.swiper-container', {
      slidesPerView: 3,
      spaceBetween: 30,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
    });
  </script>
{% endblock %}





