{% extends 'base.html.twig' %}

{% block title %}Bookflix - Modificar cuenta!{% endblock %}

{% block body %}
<div class="wrapper" >
    <!-- Sidebar -->
    
      <nav id="sidebar">
        <div class="sidebar-header">
            <img src="{{ asset('logo.svg', 'images') }}" width="200" height="30" class="d-inline-block align-top" alt="">
        </div>

        <ul class="list-unstyled components">
            {# Lugar para poner algun texto o algo fijo#}
            <a class="nav-link" href="#">Bienvenido {{perfilActivo.nombre}}! <span class="sr-only">(current)</span></a>
            <li class="active">
               <a id="a-menu" class="nav-link" href="{{path('home')}}">Home <span class="sr-only">(current)</span></a>
            </li>

            <li>
                <a id="a-menu" class="nav-link" href="{{ path('ver_favoritos') }}">Ver Favoritos <span class="sr-only">(current)</span></a>
            </li>
             <li>
                <a id="a-menu" class="nav-link" href="{{ path('ver_historial', {perfilActivo_id:perfilActivo.id}) }}">Ver Historial <span class="sr-only">(current)</span></a>
            </li>

            <li>
             <a id="a-menu" class="nav-link" href="{{ path('ver_perfiles') }}">Perfiles <span class="sr-only">(current)</span></a> 
            </li>




            <li>
            <div class="container-fluid">
               {% embed 'prueba/formulario-prueba.html.twig' %}
                {% endembed %}
            </div>
               
            </li>
            <li>
                <a id="a-menu" class="nav-link" href="{{ path('perfil') }}">Cuenta <span class="sr-only">(current)</span></a>
            </li>
            <li>
                <a id="a-menu" class="nav-link" href="{{ path('app_logout') }}">Cerrar sesion <span class="sr-only">(current)</span></a>
            </li>
        </ul>

      </nav>
    <!-- Page Content -->
    <div id="content" style= 'width: 60%;'>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">

                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left" ></i>
                    <span style = "font-family: Asap Condensed;">MENU</span>
                </button>
        </nav>

<br>

  <div class="container mt-5" id="top-box">
  <h2 id="text-box">Modificar cuenta</h2>
  </div>
 <div class="container" id="end-box">
       {{form(formulario)}}
 </div>

</div>

{% endblock %}
