
{% extends 'base.html.twig' %}

{% block title %}Bookflix{% endblock %}

{% block body %}

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    #text-cut{
      overflow : hidden;
      display : inline-block;
      width : 230px;
      text-overflow : ellipsis;
      white-space : nowrap;
    }
    .cardBook{
    flex: 1;
    flex-basis: 300px;
    flex-grow: 0;
    height: 440px;
    background: #fff;
    border: 2px solid #fff;
    /*box-shadow: 0px 4px 7px rgba(0,0,0,.5);*/
    cursor: pointer;
    transition: all .5s cubic-bezier(.8,.5,.2,1.4);
    overflow: hidden;
    position: relative;
    }
    .cardBook img{
        width: 100%;
        height:100%;
        transition: all .5s cubic-bezier(.8,.5,.2,1.4);
    }
    .descriptionsBook{
        position: absolute;
        top:0px;
        left:0px;
        background-color: rgba(255,255,255,.7);
        width:100%;
        height:100%;
        transition: all .7s ease-in-out;
        padding: 20px;
        box-sizing: border-box;
        clip-path: circle(0% at 100% 100%);
    }
    .cardBook:hover .descriptionsBook{
        left:0px;
        transition: all .7s ease-in-out;
        clip-path: circle(75%);
    }
    .cardBook:hover{
        transition: all .5s cubic-bezier(.8,.5,.2,1.4);
        box-shadow: 0px 2px 3px rgba(0,0,0,.3);
        transform: scale(.97);
    }
    .cardBook:hover img{
        transition: all .5s cubic-bezier(.8,.5,.2,1.4);
        transform: scale(1.6) rotate(20deg);
        filter: blur(3px);
    }
    .cardBook h1{
        color: #FFCA45;
        font-family: Bebas Neue;
        letter-spacing: 1px;
        margin: 0px;
    }
    .cardBook p{
        line-height: 24px;
        height: 70%;
    }
    .cardBook button{
        width: fit-content;
        height: 40px;
        cursor: pointer;
        border-style: none;
        background-color: #ff3838;
        color:#fff;
        font-size: 15px;
        outline: none;
        box-shadow: 0px 2px 3px rgba(0,0,0,.4);
        transition: all .5s ease-in-out;
    }
    .cardBook button:hover{
        transform: scale(.95) translateX(-5px);
        transition: all .5s ease-in-out;
    }

</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
<img src="{{ asset('logo.svg', 'images') }}" width="300" height="30" class="d-inline-block align-top" alt="">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
    
    </ul>

       {% embed 'prueba/formulario-prueba.html.twig' %}
    {% endembed %}

    <ul class="navbar-nav ">
    <li class="nav-item active">
        <a class="nav-link" href="{{ path('perfil') }}">Cuenta <span class="sr-only">(current)</span></a>
    </li>
    </ul> 
    <ul class="navbar-nav ">
    <li class="nav-item active">
        <a class="nav-link" href="{{ path('app_logout') }}">Cerrar sesion <span class="sr-only">(current)</span></a>
    </li>
    </ul> 
  </div>
</nav>

 <!-- LIBROS -->
</div> 
  </div>
<div class="row">
  <div class="col-sm">
      <div class="container-fluid" style= "background: #fff152; padding: 1%; ">
        <h1  class="display-5" >Resultados <span class="badge badge-secondary">Busqueda</span> </h1>
      </div>
      <ul id="navigation">
      <div class="swiper-container">
                <div class="swiper-wrapper">
                  {% for i in libros %}
                    <div class="swiper-slide">
                            <div class="wrapper">
                              <div class="cardBook">
                                <img style = "width:auto; height:auto; max-width:300px; max-height:450px;" src="/uploads/images/portadas/{{i.foto}}">
                                <div class="descriptionsBook">
                                  <h1>{{ i.titulo }}</h1>
                                  <p>{{i.autor}}</p>
                                   <p>{{i.editorial}}</p>
                                    <p>{{i.descripcion}}</p>
                                </div>
                              </div>
                            </div>
                    </div>
                  {% endfor %}
                </div> 
        </div>
      </ul>

  <!-- Swiper JS -->
<script src="https://unpkg.com/swiper/js/swiper.js"></script>
<script src="https://unpkg.com/swiper/js/swiper.min.js"></script>


<!-- Initialize Swiper -->
 <script>
    var swiper = new Swiper('.swiper-container', {
      slidesPerView: 3,
      spaceBetween: 30,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
    });
  </script>
{% endblock %}

