{% extends 'base.html.twig' %}

{% block title %}Bookflix - {{libro.titulo}}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>



<div class="wrapper" >
    <!-- Sidebar -->
    
      <nav id="sidebar">
        <div class="sidebar-header">
            <img src="{{ asset('logo.svg', 'images') }}" width="200" height="30" class="d-inline-block align-top" alt="">
        </div>

        <ul class="list-unstyled components">
            {# Lugar para poner algun texto o algo fijo#}

            <a class="nav-link" href="#">Bienvenido {{perfilActivo.nombre}}! <span class="sr-only">(current)</span></a>
            <li>
               <a id="a-menu" class="nav-link" href="{{path('home')}}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li>
             <a id="a-menu" class="nav-link" href="{{ path('ver_perfiles') }}">Perfiles <span class="sr-only">(current)</span></a>
            </li>
            <div class="container-fluid">
               {% embed 'prueba/formulario-prueba.html.twig' %}
                {% endembed %}
            </div>
               
            </li>
            <li>
                <a id="a-menu" class="nav-link" href="{{ path('perfil') }}">Cuenta <span class="sr-only">(current)</span></a>
            </li>
            <li>
                <a id="a-menu" class="nav-link" href="{{ path('app_logout') }}">Cerrar sesion <span class="sr-only">(current)</span></a>
            </li>
        </ul>

      </nav>

    
    <!-- Page Content -->
    <div id="content">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">

                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left" ></i>
                    <span style = "font-family: Asap Condensed;">MENU</span>
                </button>
        </nav>
        


<br>





<br>
<div class="container" style = "background: #FFF7A0 ; border-radius: 1.5% ; padding:6%">
    <div class="row" style = "background: ">
        <div class="col-9">
            <h1 style="text-align:center; text-transform: uppercase;font-family: Asap Condensed" >{{libro.titulo}}</h1>
            <br>
            <p style="font-size:20px ; text-align:center;font-family: Noto Sans KR">
            {{libro.descripcion}}
            </p>
            <ul class="list-group">
                <li class="list-group-item" style = "font-family: Noto Sans KR"><span class="badge badge-pill badge-warning" style="border-radius:9%;font-family: Asap Condensed">Autor</span>  {{libro.autor}}</li>
                <li class="list-group-item" style = "font-family: Noto Sans KR"><span class="badge badge-pill badge-warning" style="border-radius:9%;font-family: Asap Condensed">Genero</span>
                    {% for i in libro.generos %}
                        {{i.nombre}},
                    {% endfor %}    
                </li>
                <li class="list-group-item" style = "font-family: Noto Sans KR"><span class="badge badge-pill badge-warning" style="border-radius:9%;font-family: Asap Condensed">Año</span>  {{libro.ano}}</li>
                <li class="list-group-item" style = "font-family: Noto Sans KR"><span class="badge badge-pill badge-warning" style="border-radius:9%;font-family: Asap Condensed">Editorial</span>  {{libro.editorial}}</li>
                <li class="list-group-item" style = "font-family: Noto Sans KR"><span class="badge badge-pill badge-warning" style="border-radius:9%;font-family: Asap Condensed">ISBN</span>  {{libro.ISBN}}</li>
            </ul>
            <br>
          </div>

          <div class="col-sm">
              <img style = "width:auto; height:auto; max-width:120%; max-height:100%; display:block ; margin:auto" src="/uploads/images/portadas/{{libro.foto}}">

          </div>
        </div>
        
            {% if libro.tipoDeCarga == true %}
            <div class="row-sm" style = "background: ">
              <div class="col-9">
                    <a href = "{{ path('libro_pdf', {id: libro.id, capitulo: -1 }) }}"  style= "margin: auto ; display:block ; max-width:200px" class="btn btn-warning">Leer libro completo</a>
              </div>    
              <div class="col-9">
                  {% if libro.capituloLibros[0].fechaDisponible|date('Y-m-d') > "now"|date("Y-m-d") %}
                    <h5 style= "font-family: Asap Condensed; margin-top: 15px"> Disponible el : {{ libro.capituloLibros[0].fechaDisponible|date('Y-m-d') }} </h1>
                  
                  {% endif %}
              </div>
            </div>
            {% else %}
              
              {% if libro.completo %}
                <div class="row justify-content-center" style = "background: ">
                  <div class="col-4" style = "background: ">
               
                    <a href = "{{ path('libro_pdf', {id: libro.id ,capitulo: -1 }) }}" style= "margin: auto ; display:block ; max-width:200px" class="btn btn-warning">Leer libro completo</a>
                  </div>
                  
                 <div class="col-3" >
                        {% set fechaDisp = 'ok' %}
                        {% for capitulo in libro.capituloLibros  %}
                          {% if capitulo.fechaDisponible|date('Y-m-d') > "now"|date("Y-m-d") %}
                            {% set fechaDisp = capitulo.fechaDisponible|date('Y-m-d') %}
                          {% endif %}
                        {% endfor %}
                        {% if fechaDisp is not same as('ok')  %}
                          <h5 style= "text-transform: uppercase;font-family: Asap Condensed; margin-top: 15px"> Disponible el : {{fechaDisp}} </h1>
                        {% endif %}
                </div>
              </div>


              
                <br>
                {% endif %}
                {% if libro.capituloLibros|length > 0 %}
                  <h3 style=" text-transform: uppercase;font-family: Asap Condensed"> Capitulos :</h3>
                  {% for capitulo in libro.capituloLibros %}
                  <div class="row">
                    
                    <a href = {{ path('libro_pdf', {id: libro.id, capitulo: capitulo.id }) }} style= "margin: auto ; display:block ; max-width:200px; margin: 1%" class="btn btn-warning">Leer capitulo {{capitulo.nro}}</a>
                    {% if capitulo.fechaDisponible|date('Y-m-d') > "now"|date("Y-m-d") %}
                      <h5 style= "text-transform: uppercase;font-family: Asap Condensed; margin-top: 15px"> Disponible el : {{ capitulo.fechaDisponible|date('Y-m-d') }} </h1>
                    {% endif %}

                  </div>
                    
              
                  {% endfor %}
                {% endif %}
              
            {% endif %}
            
             {#<h4 style="text-align: left ; margin-top:5px">{{libro.autor}}</h4>
            <h5 style="text-align: left">Editoral {{libro.editorial}}</h5> #}
        </div>
        <br>
        <br>
        <div class="row justify-content-center" >
          <div class="col-sm" >
            <div style="margin:auto ; width:50%">
              <hr>
            </div>

            <a class="btn btn-warning" style="display:block ; margin:auto ; max-width:80px" href="{{ path('home') }}">Volver</a>
            </div>
          </div>
         <br>
      </div>

    </div>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.5.207/pdf.js"></script>

{% endblock %}
