{% extends 'base.html.twig' %}

{% block title %}Bookflix - {{libro.titulo}}{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>



<div class="wrapper" >
    <!-- Sidebar -->
    
      <nav id="sidebar">
        <div class="sidebar-header">
            <img src="{{ asset('logo.svg', 'images') }}" width="200" height="30" class="d-inline-block align-top" alt="">
        </div>

        <ul class="list-unstyled components">
            {# Lugar para poner algun texto o algo fijo#}

            <a class="nav-link" href="#">Bienvenido {{perfilActivo.nombre}}! <span class="sr-only">(current)</span></a>
            <li>
               <a id="a-menu" class="nav-link" href="{{path('home')}}">Home <span class="sr-only">(current)</span></a>
            </li>
             <li>
                <a id="a-menu" class="nav-link" href="{{ path('ver_favoritos') }}">Ver Favoritos <span class="sr-only">(current)</span></a>
            </li>
 
             <li>
                <a id="a-menu" class="nav-link" href="{{ path('ver_historial', {perfilActivo_id:perfilActivo.id}) }}">Ver Historial <span class="sr-only">(current)</span></a>
            </li>       
      
            <li>
             <a id="a-menu" class="nav-link" href="{{ path('ver_perfiles') }}">Perfiles <span class="sr-only">(current)</span></a>
            </li>
            <div class="container-fluid">
               {% embed 'prueba/formulario-prueba.html.twig' %}
                {% endembed %}
            </div>
               
            </li>
            <li>
                <a id="a-menu" class="nav-link" href="{{ path('perfil') }}">Cuenta <span class="sr-only">(current)</span></a>
            </li>
            <li>
                <a id="a-menu" class="nav-link" href="{{ path('app_logout') }}">Cerrar sesion <span class="sr-only">(current)</span></a>
            </li>

        </ul>

      </nav>

    
    <!-- Page Content -->
    <div id="content">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">

                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left" ></i>
                    <span style = "font-family: Asap Condensed;">MENU</span>
                </button>
        </nav>
        


<br>





<br>
<div class="container" style = "background: #FFF7A0 ; border-radius: 1.5% ; padding:6%">
    <div class="row" >
        <div class="col-9">
          <div class="row" style = "background: ">
            <div class="col">
              <h1 style="text-align:center; text-transform: uppercase;font-family: Asap Condensed" >{{libro.titulo}} <span class="badge badge-secondary " style= "font-size:15px;position: relative;left:5px; bottom:8px"> Puntuacion:  {{libro.getPromedioCalificacion()}}/5</span></h1>
              
              <br>
            </div>
          </div>
            <p style="font-size:20px ; text-align:center;font-family: Noto Sans KR">
            {{libro.descripcion}}
            </p>
            <ul class="list-group">
                <li class="list-group-item" style = "font-family: Noto Sans KR"><span class="badge badge-pill badge-warning" style="border-radius:9%;font-family: Asap Condensed">Autor</span>  {{libro.autor}}</li>
                <li class="list-group-item" style = "font-family: Noto Sans KR"><span class="badge badge-pill badge-warning" style="border-radius:9%;font-family: Asap Condensed">Genero</span>
                    {% for i in libro.generos %}
                        {{i.nombre}},
                    {% endfor %}    
                </li>
                <li class="list-group-item" style = "font-family: Noto Sans KR"><span class="badge badge-pill badge-warning" style="border-radius:9%;font-family: Asap Condensed">Año</span>  {{libro.ano}}</li>
                <li class="list-group-item" style = "font-family: Noto Sans KR"><span class="badge badge-pill badge-warning" style="border-radius:9%;font-family: Asap Condensed">Editorial</span>  {{libro.editorial}}</li>
                <li class="list-group-item" style = "font-family: Noto Sans KR"><span class="badge badge-pill badge-warning" style="border-radius:9%;font-family: Asap Condensed">ISBN</span>  {{libro.ISBN}}</li>
            </ul>
            <br>
          </div>

          <div class="col-sm">
              <img style = "border-radius: 2px;width:auto; height:auto; max-width:120%; max-height:100%; display:block ; margin:auto;" src="/uploads/images/portadas/{{libro.foto}}">

          </div>
        </div>
        {% if libro.getCapituloLibros() is empty %}
        <br>
        <div class="container"  style = "background : #F5F5F5; border-radius: 15px; padding: 2%;font-family: Asap Condensed;">
          <div class="row justify-content-center" style = "font-family: Asap Condensed;">
            <button type="button" class="btn btn-danger">No hay lectura disponible para este libro</button>
          </div>
        </div>
        {% else %}
        {# Variable para controlar la disponibilidad de las reseñas#}
        {% set fechaMax = "now"|date("Y-m-d") %}
        
        {# El libro se subio completo #}
            {% if libro.tipoDeCarga == true %}
            <div class="row-sm" style = "background: ">
              <div class="col-9">
                  {% if libro.capituloLibros[0].fechaDisponible|date('Y-m-d') > "now"|date("Y-m-d") %}
                  <a   style= "margin: auto ; display:block ; max-width:200px;font-family: Asap Condensed;" class="btn btn-warning">Leer libro completo</a>
                    {% set fechaMax = libro.capituloLibros[0].fechaDisponible|date('Y-m-d') %}
                    <h5 style= "font-family: Asap Condensed; margin-top: 15px"> Disponible el : {{ libro.capituloLibros[0].fechaDisponible|date('Y-m-d') }} </h1>
                  {% else %}
                    <a href = "{{ path('libro_pdf', {id: libro.id, capitulo: -1 }) }}"  style= "margin: auto ; display:block ; max-width:200px;font-family: Asap Condensed;" class="btn btn-warning">Leer libro completo</a>
                  {% endif %}
              </div>
            </div>
            {% else %}

            {# El libro se subio por capitulos #}  

              {% if libro.completo %}
                <div class="row justify-content-center" style = "font-family: Asap Condensed;">
                  
                 <div class="col-3" >
                        
                        {% for capitulo in libro.capituloLibros  %}
                          {% if capitulo.fechaDisponible|date('Y-m-d') > fechaMax %}
                            {% set fechaMax = capitulo.fechaDisponible|date('Y-m-d') %}
                          {% endif %}
                        {% endfor %}
                        {% if fechaMax is not same as("now"|date("Y-m-d"))  %}
                          <a style= "margin: auto ; display:block ; max-width:200px" class="btn btn-warning">Leer libro completo</a>
                          <h5 style= "text-transform: uppercase;font-family: Asap Condensed; margin-top: 15px"> Disponible el : {{fechaMax}} </h1>
                        {% else %}
                           <a href = "{{ path('libro_pdf', {id: libro.id ,capitulo: -1 }) }}" style= "margin: auto ; display:block ; max-width:200px" class="btn btn-warning">Leer libro completo</a>
                        {% endif %}
                </div>
              </div>


              
                <br>
                {% endif %}
                {% if libro.capituloLibros|length > 0 %}
                  <h3 style=" text-transform: uppercase;font-family: Asap Condensed"> Capitulos :</h3>
                  <div class="container"  style = "background : #F5F5F5; border-radius: 15px; padding: 2%;padding-left: 6%;font-family: Asap Condensed;">
                    {% for capitulo in libro.capituloLibros %}
                    <div class="row">
                      
                      
                      {% if capitulo.fechaDisponible|date('Y-m-d') > "now"|date("Y-m-d") %}
                        <a  style= "margin: auto ; display:block ; max-width:200px; margin: 1%;" class="btn btn-warning">Leer capitulo {{capitulo.nro}}</a>
                        <h5 style= "text-transform: uppercase;font-family: Asap Condensed; margin-top: 15px"> Disponible el : {{ capitulo.fechaDisponible|date('Y-m-d') }} </h1>
                      {% else %}
                        <a href = {{ path('libro_pdf', {id: libro.id, capitulo: capitulo.id }) }} style= "margin: auto ; display:block ; max-width:200px; margin: 1%" class="btn btn-warning">Leer capitulo {{capitulo.nro}}</a>
                      {% endif %}

                    </div>
                      
                
                    {% endfor %}
                  </div>
                {% endif %}
              
            {% endif %}
          {#IF donde Finaliza la zona de capitulos#}  
          {% endif %}
          <br>
          <br>
            {% if estaEnFavoritos %}
            <div class="row justify-content-center" style = "font-family: Asap Condensed;">
               <a href = {{ path('quitar_de_favoritos', {libro_id: libro.id }) }} style= "margin: auto ; display:block ; max-width:200px; margin: 1%" class="btn btn-warning">Quitar de Favoritos</a>
            </div>
            {% else %}
            
              <div class="row justify-content-center" style = "font-family: Asap Condensed;">
              
               <a href = {{ path('agregar_a_favoritos', {libro_id: libro.id }) }} style= "margin: auto ; display:block ; max-width:200px; margin: 1%" class="btn btn-warning">Agregar A Favoritos</a>
            </div>
            {% endif %}

        </div>
        <br>
        <br>

        <div class="row justify-content-center" >
          <div class="col-sm" >
            <div style="margin:auto ; width:50%">
              <hr>
            </div>

            <a class="btn btn-warning" style="display:block ; margin:auto ; max-width:80px;font-family: Asap Condensed;" href="{{ path('home') }}">Volver</a>
          </div>
        </div>
         <br>
         <div class="row justify-content-center" >
          <div class="col-sm" >
          {#COMENTARIO PROPIO#}
          {% if libro.completo == false or fechaMax is not same as("now"|date("Y-m-d")) %}
            <div class="container"  style = "background : #F5F5F5; border-radius: 15px; padding: 2%;font-family: Asap Condensed;">
              <div class="row justify-content-center" style = "font-family: Asap Condensed;margin: 2px">
                <button type="button" class="btn btn-danger">No es posible realizar una reseña del libro, el libro no se encuentra disponible completo</button>
              </div>
            </div>
          {% else %}
            {% if not comentarUsuarioExistente %}
            <h1 id = "text-box" > Tu reseña :  </h1>
            
            <div class="container"  id = "top-box" >
              <h1  class="display-5" id = "text-box"> {{comentarioDelPerfil.perfil.nombre}} <span class="badge badge-secondary"> Puntuacion:  {{comentarioDelPerfil.calificacion}}/5</span> </h1>
            </div>
              <div class="container" id = "end-box">
                {{comentarioDelPerfil.texto}}
              </div>
              <br>
            <button type="button" class="btn btn-danger" onclick="preguntaBorrarComentario({{comentarioDelPerfil.getId()}})" style = "font-family: Asap Condensed;margin-left: 10px">Borrar</button>
            </div>
            {% else %}
            
            {% if not libroLeidoCompleto %}
              <div class="container" id = "top-box">
              <h1  class="display-5" id = "text-box"> Agrega tu reseña:</h1>
            </div>
            <div class="container" id = "end-box">
              {% embed "libro/comentarLibro.html.twig" %}
                {% endembed %}
              </div>
            {% else %}
                <div class="container"  style = "background : #F5F5F5; border-radius: 15px; padding: 2%;font-family: Asap Condensed;">
              <div class="row justify-content-center" style = "font-family: Asap Condensed;margin: 2px">
                <button type="button" class="btn btn-danger">No es posible reseñar el libro, primero debe leer lo completo</button>
              </div>
            </div>
            {% endif %}
            </div>

            
            {% endif %}


            </div>
          {% endif %}
          
          <script>
                            function preguntaBorrarComentario(id){
                                if(confirm('¿Estás seguro que deseas borrar su comentario?' )){
                                    window.location.href = ('/eliminarcomentario/'+id);
                                }
                            }
          </script>
             

            



                  <br>

        {#ZONA DE COMENTARIOS#}
        <div class="row justify-content-center" >
          <div class="col-sm" >
          
          
         <h1 id = "text-box" >RESEÑAS</h1>
         <div class="container" style = "background : #F5F5F5; border-radius: 15px">
         <br>
         {% if libro.getCalificacionesComentarios() is empty %}
           <div class="container" >
            <div class="row" style= "font-family: Noto Sans KR; display: block ; margin: auto; padding: 2%" >
              <p class="text-center"> No hay reseñas de este libro, se el primero!</p>
            </div>
           </div>
         {% endif %}
          {% for comen in libro.getCalificacionesComentarios() %}
          <div class="container"  id = "top-box" >
            <div class="row" >
              <div class="col-sm" >
                <h1  class="display-5" id = "text-box">{{comen.getPerfil().getNombre()}}  <span class="badge badge-secondary"> Puntuacion:  {{comen.getCalificacion()}}/5</span> <span style="font-size:15px ;  float:right;margin-top: 20px; color: #A5A5A5  "> Fecha: {{comen.getUpdatedAt()|date("Y-m-d")}}</span   ></h1>
              </div>
            </div>
          </div>
          
          <div class="container" id = "end-box">
          {% if comen.spoiler %}
            {% if  comen.texto is not null %}
              <a style="font-size:15px ; font-family: Asap Condensed; padding-right:20px" > Esta reseña posee un SPOILER del libro       </a>
            <button data-toggle="collapse" class="btn btn-danger" data-target="#texto-spoiler{{comen.id}}">Ver</button>
            <div id="texto-spoiler{{comen.id}}" class="collapse">
            <p style="font-size:15px ; font-family: Noto Sans KR">
              {{comen.texto}}
            </p>
              
            </div>
            {% endif %}
            
          {% else %}
            {{comen.texto}}
          {% endif %}
            
              {#{dump(comen)}#}
              
          </div>
          
          <br>
          {% endfor %}
                       
          
          </div>
<br>
<br>
<br>
        </div>
      </div>

    </div>

</div>
        </div>

{% endblock %}
