{% extends 'base.html.twig' %}

{% block title %}Bookflix - Mi cuenta{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-light bg-light"  style =  "position: fixed; width: 100%; z-index: 100;background: #FFFFFF; border-radius:20px;">
<img src="{{ asset('logo.svg', 'images') }}" width="300" height="30" class="d-inline-block align-top" alt="">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
       <a class="nav-link" href="{{path('home')}}">Home <span class="sr-only">(current)</span></a>
      </li>
    
    </ul>
    {#{% embed 'prueba/formulario-prueba.html.twig' %}
    {% endembed %}#}

    <ul class="navbar-nav ">
    <li class="nav-item active">
        <a class="nav-link" href="{{ path('perfil') }}">Cuenta <span class="sr-only">(current)</span></a>
    </li>
    </ul> 
    <ul class="navbar-nav ">
    <li class="nav-item active">
        <a class="nav-link" href="{{ path('app_logout') }}">Cerrar sesion <span class="sr-only">(current)</span></a>
    </li>
    </ul> 
  </div>
</nav>

<div class="container mt-5">

<div class="container"  id = "top-box" >
        <h1  class="display-5" id = "text-box">Mis datos<span class="badge badge-secondary">Ultimos</span></h1>
      </div>

<div class="container" id = "end-box">
  <ul class="list-group">
    <li class="list-group-item">
    <span class="badge badge-pill badge-warning" style="border-radius:9%">Email    </span>  {{email}}</li>
    <li class="list-group-item"><span class="badge badge-pill badge-warning" style="border-radius:9%">Nombre   </span>  {{nombre}}</li>
    <li class="list-group-item"><span class="badge badge-pill badge-warning" style="border-radius:9%">Apellido  </span>  {{apellido}}</li>
    <li class="list-group-item"><span class="badge badge-pill badge-warning" style="border-radius:9%">Numero de tarjeta   </span>  {{numero}}</li>
    <li class="list-group-item"><span class="badge badge-pill badge-warning" style="border-radius:9%">CVV  </span>  {{cvv}}</li>
    <li class="list-group-item"><span class="badge badge-pill badge-warning" style="border-radius:9%">DNI  </span>  {{dni}}</li>
    <li class="list-group-item"><span class="badge badge-pill badge-warning" style="border-radius:9%">Vencimiento  </span>  {{vencimiento}}</li>
  </ul>
</div>
<br>
<a class="btn btn-warning" href="{{ path('modificar-cuenta') }}" role="button">Modificar</a>
</div>


{% endblock %}
