{% extends 'base.html.twig' %}

{% block title %}Bookflix - Mi cuenta{% endblock %}

{% block body %}
<div class="wrapper" >
    <!-- Sidebar -->
    
      <nav id="sidebar">
        <div class="sidebar-header">
            <img src="{{ asset('logo.svg', 'images') }}" width="200" height="30" class="d-inline-block align-top" alt="">
        </div>

        <ul class="list-unstyled components">
            {# Lugar para poner algun texto o algo fijo#}
            <a class="nav-link" href="#">Bienvenido {{perfilActivo.nombre}}! <span class="sr-only">(current)</span></a>
            <li >
               <a id="a-menu" class="nav-link" href="{{path('home')}}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li>
                <a id="a-menu" class="nav-link" href="{{ path('ver_favoritos') }}">Ver Favoritos <span class="sr-only">(current)</span></a>
            </li>
             <li>
                <a id="a-menu" class="nav-link" href="{{ path('ver_historial', {perfilActivo_id:perfilActivo.id}) }}">Ver Historial <span class="sr-only">(current)</span></a>
            </li>

            <li>
             <a id="a-menu" class="nav-link" href="{{ path('ver_perfiles') }}">Perfiles <span class="sr-only">(current)</span></a>
            </li>
            <li>
            <div class="container-fluid">
               {% embed 'prueba/formulario-prueba.html.twig' %}
                {% endembed %}
            </div>
               
            </li>
            <li class="active">
                <a id="a-menu" class="nav-link" href="{{ path('perfil') }}">Cuenta <span class="sr-only">(current)</span></a>
            </li>
            <li>
                <a id="a-menu" class="nav-link" href="{{ path('app_logout') }}">Cerrar sesion <span class="sr-only">(current)</span></a>
            </li>
        </ul>

      </nav>

    <!-- Page Content -->
    <div id="content" style= 'width: 60%;'>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">

                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left" ></i>
                    <span style = "font-family: Asap Condensed;">MENU</span>
                </button>
        </nav>

<br>
<div class="container mt-5">

<div class="container"  id = "top-box" >
        <h1  class="display-5" id = "text-box">Datos <span class="badge badge-secondary">Cuenta</span></h1>
      </div>

<div class="container" id = "end-box">
  <ul class="list-group">
    <li class="list-group-item">
    <span class="badge badge-pill badge-warning" style="border-radius:9%">Email    </span>  {{email}}</li>
    <li class="list-group-item"><span class="badge badge-pill badge-warning" style="border-radius:9%">Nombre   </span>  {{nombre}}</li>
    <li class="list-group-item"><span class="badge badge-pill badge-warning" style="border-radius:9%">Apellido  </span>  {{apellido}}</li>
    <li class="list-group-item"><span class="badge badge-pill badge-warning" style="border-radius:9%">Numero de tarjeta   </span>  {{numero}}</li>
    <li class="list-group-item"><span class="badge badge-pill badge-warning" style="border-radius:9%">CVV  </span>  {{cvv}}</li>
    <li class="list-group-item"><span class="badge badge-pill badge-warning" style="border-radius:9%">DNI  </span>  {{dni}}</li>
    <li class="list-group-item"><span class="badge badge-pill badge-warning" style="border-radius:9%">Vencimiento  </span>  {{vencimiento}}</li>
  </ul>
</div>
<br>
<a class="btn btn-warning" href="{{ path('modificar-cuenta') }}" role="button">Modificar</a>
<br>
<br>
<button type="button" class="btn btn-danger" onclick="preguntarBorrarCuenta()">Eliminar cuenta</button>

<script>
            function preguntarBorrarCuenta(){
              if(confirm('¿Estás seguro que deseas borrar tu cuenta de Bookflix?' )){
               window.location.href="eliminarCuenta"; 

               
              }
            }
        </script>
</div>
</div>

{% endblock %}
