{% extends 'base.html.twig' %}

{% block title %}Hello PerfilController!{% endblock %}

{% block body %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
<img src="{{ asset('logo.svg', 'images') }}" width="300" height="30" class="d-inline-block align-top" alt="">

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ path('home') }}">Home <span class="sr-only">(current)</span></a>
      </li>
    
      
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
    </form>
    <ul class="navbar-nav ">
    <li class="nav-item active">
        <a class="nav-link" href="{{ path('perfil') }}">Cuenta <span class="sr-only">(current)</span></a>
    </li>
    </ul>
        <ul class="navbar-nav ">
    <li class="nav-item active">
        <a class="nav-link" href="{{ path('app_logout') }}">Cerrar sesion <span class="sr-only">(current)</span></a>
    </li>
    </ul>  
  </div>
</nav>

<div class="container mt-5">
<h1>Mis datos</h1>
<br>
<ul class="list-group">
  <li class="list-group-item">
  <span class="badge badge-pill badge-warning" style="border-radius:9%">Email    </span>  {{email}}</li>
  <li class="list-group-item"><span class="badge badge-pill badge-warning" style="border-radius:9%">Nombre   </span>  {{nombre}}</li>
  <li class="list-group-item"><span class="badge badge-pill badge-warning" style="border-radius:9%">Apellido  </span>  {{apellido}}</li>
  <li class="list-group-item"><span class="badge badge-pill badge-warning" style="border-radius:9%">Numero de tarjeta   </span>  {{numero}}</li>
  <li class="list-group-item"><span class="badge badge-pill badge-warning" style="border-radius:9%">CVV  </span>  {{cvv}}</li>
  <li class="list-group-item"><span class="badge badge-pill badge-warning" style="border-radius:9%">DNI  </span>  {{dni}}</li>
  <li class="list-group-item"><span class="badge badge-pill badge-warning" style="border-radius:9%">Vencimiento  </span>  {{vencimiento}}</li>
</ul>
<br>
<a class="btn btn-warning" href="{{ path('modificar-cuenta') }}" role="button">Modificar</a>
</div>
{% endblock %}
